/* Main */
body {
    font-family: fantasy;
    background-color: rgba(33, 50, 73);
    color: rgba(255, 255, 255);
    text-align: center;
    margin: 1em;
}

h1 {
    text-align: center;
    background-color: rgba(82, 150, 214);
    height: 3em;
    align-content: center;
    border-radius: 1em;
    border: 0.1em solid white;
}

img {
    width: 20%;
    height: auto;
}

/* Image Flip by hover */
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Buttons */
.css-add-button, .css-search-button {
    /* rgb = red, green, blue */
    background-color: white;
    color: rgba(33, 50, 73);
    border: 0.2em solid black;
    cursor: pointer;
    width: 20%;
    height: 10%;
    transition: 1s;
    box-shadow: 3px 3px 3px rgb(31, 74, 28);
    border-radius: 10vw;
}

/* pseudo-class invert colors */
.css-add-button:hover, .css-search-button:hover {
    background-color: rgba(33, 50, 73);
    color: white;
    border: none;
    width: 22%;
}

/* pseudo-class - what should happen when button is clicked */
.css-add-button:active, .css-search-button:active {
    opacity: 0.01s;
    background-color: black;   
}

input {
    border: none;
    font-size: 2vw;;
    text-align: center;
    background-color: rgba(50, 114, 185);
    color: white;
    width: 50%;
    height: 10%;
    margin: 3%;
    border-radius: 10vw;
    box-shadow: 3px 3px 3px rgb(24, 24, 24);
}

::placeholder {
    color: white;
}

/* Side-Menu */
.main-grid{
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 42em;
    column-gap: 2%;
    row-gap: 2%;
    padding-bottom: 5%; 
}

.menu-box-left {
    border: 0.1em solid white;
    background-color: rgba(82, 150, 214);
    vertical-align: top;
    border-radius: 1em;
    cursor: pointer;
    align-content: center;
}

.menu-box-left:hover {
    background-color: rgb(33, 50, 73);
}

.menu-box-left:focus {
    background-color: rgb(33, 50, 73);
}

.menu-box-right {
    border: 0.1em solid white;
    background-color: rgba(82, 150, 214);
    vertical-align: top;
    border-radius: 1em;
    /* Syntax: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    grid-area: 1 / 2 / 5 / 2;
    align-content: center;
}