/* Main */
body {
    font-family: fantasy;
    background-color: rgba(33, 50, 73);
    color: rgba(255, 255, 255);
    text-align: center;
    margin: 2%;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

tr:hover {
    background-color: rgba(82, 150, 214);
}

.trash-can {
    background-color: rgba(33, 50, 73);
    border: none;
}

button {
    font-family: fantasy;
    font-size: 150%;
    color: rgba(255, 255, 255);
}

h1 {
    text-align: center;
    background-color: rgba(82, 150, 214);
    height: 3em;
    align-content: center;
    border-radius: 1em;
    border: 0.1em solid rgba(255, 255, 255);
}

img {
    width: 25%;
}

/* Image flip by hover */
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Main Grid */
.main-grid {
    display: grid;
    grid-template-columns: 35% 1fr;
    column-gap: 5%;
    padding-bottom: 5%; 
}

/* Left Side Menu-Grid */
.main-grid-left {
    display: grid;
    row-gap: 1em;
}

/* Navigation Menu Buttons */
.menu-box-left {
    border: 0.1em solid rgba(255, 255, 255);
    background-color: rgba(82, 150, 214);
    border-radius: 1em;
    height: 4em;
    cursor: pointer;
    align-content: center;
}

.menu-box-left:hover {
    background-color: rgb(33, 50, 73);
}

/* Right Side Menu-Grid */
.main-grid-right {
    display: grid;
    border: 1px solid rgba(255, 255, 255);
    max-height: auto;
    overflow: scroll;
}

.img-robot {
    align-content: end;
}

.btn-delete-recipe {
    color: White;
    background: none;
    border: none;
}

.btn-delete-recipe:hover {
    font-weight: bold;
    color: red;
}

/* Buttons */
.css-add-button, .search-button {
    background-color: rgba(50, 114, 185);
    color: rgba(255, 255, 255);
    cursor: pointer;
    width: 30%;
    height: 10%;
    transition: 1s;
    border-radius: 10vw;
    
}

/* pseudo-class invert colors */
.css-add-button:hover, .search-button:hover {
    background-color: rgb(214, 135, 82);
    color: rgba(255, 255, 255);
    border: none;
    width: 35%;
}

/* pseudo-class - what should happen when button is clicked */
.css-add-button:active, .css-search-button:active {
    opacity: 0.01s;
    background-color: black;   
}

input {
    font-family: fantasy;
    border: none;
    font-size: 120%;
    text-align: center;
    background-color: rgba(50, 114, 185);
    color: rgba(255, 255, 255);
    width: 30%;
    height: 10%;
    margin: 3%;
    border-radius: 5vw;
    box-shadow: 3px 3px 3px rgb(24, 24, 24);
}

::placeholder {
    color: rgba(255, 255, 255);
}

.shopping-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide browsers default checkbox */
.shopping-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create custom checkbox */
